<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongoose | Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e2cd4330ca.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="/">Mongoose</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container">

    <div class="jumbotron">
      <h1>Welcome to the Mongoose Farm</h1>
    </div>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Hobbies</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for (var mongoose of mongooses) { %>
        <tr>
          <th scope="row"><%= mongoose.id %></th>
          <td><%= mongoose.name %></td>
          <td><%= mongoose.age %></td>
          <td><%= mongoose.hobbies.length %></td>
          <td>
              <a href="/mongooses/view/<%= mongoose.id %>" class="far fa-eye btn btn-sm btn-link text-secondary"></a>
              <a href="/mongooses/edit/<%= mongoose.id %>" class="far fa-edit btn btn-sm  btn-link text-warning"></a>
              <a href="/mongooses/delete/<%= mongoose.id %>" class="fas fa-trash-alt btn btn-sm  btn-link text-danger"></a>
            </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/mongooses/form/" class="btn btn-primary">Add Mongoose</a>
  </div> <!--END OF CONTAINER-->

</body>
</html>